h1 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
    font-size: 26px;
}

p {
  font-size: 20px;
}

.approach-explanation div {
    display: none;
}

.approach-explanation div:target {
    display: block;

}

.approach-explanation a {
    font-size: 20px;
    padding-left: 30px;
    display: inline-block;
}